<?xml version="1.0"?>
<settings>
  <mirrors>
    <mirror>
      <id>3pp-bsim</id>
      <mirrorOf>3pp-bsim</mirrorOf>
      <url>http://eselivm2v214l.lmera.ericsson.se:8081/nexus/content/repositories/3pp-bsim</url>
    </mirror>
    <mirror>
      <id>eniq</id>
      <mirrorOf>eniq</mirrorOf>
      <url>http://eselivm2v214l.lmera.ericsson.se:8081/nexus/content/repositories/eniq</url>
    </mirror>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://eselivm2v214l.lmera.ericsson.se:8081/nexus/content/groups/ericsson</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>3pp-bsim</id>
          <url>http://3pp-bsim</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
      </repository>
        <repository>
          <id>eniq</id>
          <url>http://eniq</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>eniq</id>
          <url>http://eniq</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
  </pluginGroups>
</settings>
